@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat:wght@400;600&display=swap');


:root {

  --fone-color: #fef9f9;
  --sel-color: #F7F7FB;
  
  --yellow: #ffc107;
  --white: #ffffff;
  --white-bg: #fdf7f2;
  
  --black: #121417;
  --semi-black: #12141780;
  --black-20: #12141733;

  --medium-blue: #76bcf9;
  --blue: #3470FF;
  --hover-blue: #0B44CD;
  --accent-blue: #61dafb;

  --light-blue: #cce4fb;
  --green: #00c3ad;
  --red: #f43f5e;
  --grey: #8A8A89;
  --bisque: #FFE4C4;
  
  
}

body {
  overflow-x: hidden;
  background-color:  #282c34;
  margin: 0;
  padding: 0;
  font-family: -apple-system, Manrope, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 1s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  fill: transparent;
  width: 200px;
}

.stackoverflow {
  width: 200px;
  fill: transparent;
  transition: all 0.4s ease-in-out;
}
.stackoverflow:hover {
  fill: #E5B000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

